# LinguaLayer API
NODE_ENV=development
PORT=8080
API_PREFIX=/api/v1
CORS_ORIGIN=http://localhost:3000
# STELLAR_NETWORK=testnet
# SOROBAN_RPC_URL=

# SEP-0010 Web Authentication
# STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
# SERVER_SIGNING_KEY=S...        # Server's Stellar secret key
# SERVER_DOMAIN=lingualayer.io   # Used as manage_data key prefix
# WEB_AUTH_DOMAIN=lingualayer.io
# CHALLENGE_TTL_SECONDS=900
